Lab | Data Cleaning and Formatting
In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

Challenge 1: Data Cleaning and Formatting
Exercise 1: Cleaning Column Names
To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

Hint:

Column names should be in lower case
White spaces in column names should be replaced by _
st could be replaced for state

In [1]:
data='https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
import pandas as pd
df = pd.read_csv(data)
dfcopy= df
dfcopy.columns=dfcopy.columns.str.lower().str.replace(" ","_")

In [2]:
dfcopy.columns

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [3]:
dfcopy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   1071 non-null   object
 1   st                         1071 non-null   object
 2   gender                     954 non-null    object
 3   education                  1071 non-null   object
 4   customer_lifetime_value    1068 non-null   object
 5   income                     1071 non-null   float64
 6   monthly_premium_auto       1071 non-null   float64
 7   number_of_open_complaints  1071 non-null   object
 8   policy_type                1071 non-null   object
 9   vehicle_class              1071 non-null   object
 10  total_claim_amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

Exercise 2: Cleaning invalid Values
The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

Hint:

Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".
State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"
In education, "Bachelors" could be replaced by "Bachelor"
In Customer Lifetime Value, delete the % character
In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"

In [4]:
dfcopy['gender'].replace(('Femal','female'), 'F',inplace=True)
dfcopy['gender'].replace('Male', 'M',inplace=True)

In [5]:
dfcopy.rename(columns={"st": "state"}, inplace = True)

In [11]:

estados = {"Oregon":"Oregon","Nevada":"Nevada","AZ":"Arizona","Arizona":"Arizona","California":"California","Washington":"Washington", "Cali": "California", "WA":"Washington"}
dfcopy["state"] = dfcopy["state"].map(estados)

dfcopy['education'].replace('Bachelors', 'Bachelor', inplace=True)
dfcopy['vehicle_class'].replace(("Sports Car", "Luxury SUV" , "Luxury Car"), 'Luxury',inplace=True)

In [12]:
dfcopy['state'].value_counts()

state
California    331
Oregon        320
Arizona       211
Washington    111
Nevada         98
Name: count, dtype: int64

Exercise 3: Formatting data types
The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

Hint:

Customer lifetime value should be numeric
Number of open complaints has an incorrect format. Look at the different values it takes with unique() and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use split() to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.

In [13]:
#Esto lo pide en el ejercicio 5 pero si lo aplico ahora mismo el resultado y la limpieza del mismo será más eficiente.
dfcopy.dropna(how='all', inplace=True)

In [14]:
dfcopy["customer_lifetime_value"] = dfcopy["customer_lifetime_value"].str.replace("%", "")

In [15]:
dfcopy['customer_lifetime_value'].astype('float').round()
dfcopy['customer_lifetime_value']=dfcopy['customer_lifetime_value'].astype('float').round()
dfcopy['customer_lifetime_value']

0             NaN
1        697954.0
2       1288743.0
3        764586.0
4        536308.0
          ...
1066     305955.0
1067    2031500.0
1068     323912.0
1069     462680.0
1070     899704.0
Name: customer_lifetime_value, Length: 1071, dtype: float64

In [62]:
remplazo_fechas ={'1/0/00': 0, '1/2/00': 2, '1/1/00': 1, '1/3/00': 3, '1/5/00': 5, '1/4/00': 4}
dfcopy["number_of_open_complaints"] = dfcopy["number_of_open_complaints"].map(remplazo_fechas)

In [63]:
dfcopy['number_of_open_complaints'].value_counts()

number_of_open_complaints
0    830
1    138
2     50
3     34
4     13
5      6
Name: count, dtype: int64

Exercise 4: Dealing with Null values
Identify any columns with null or missing values. Identify how many null values each column has. You can use the isnull() function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

Drop the rows or columns with null values
Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
Fill the null values with the previous or next value in the column
Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)
Implement your chosen strategy to handle the null values. You can use the fillna() function in pandas to fill null values or dropna() function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the isnull() function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [23]:
dfcopy.isnull().sum()

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [17]:
moda_cliente=dfcopy['customer_lifetime_value'].mean().round()
dfcopy['customer_lifetime_value'].fillna(moda_cliente, inplace=True)

In [18]:
dfcopy['customer_lifetime_value'].isnull().sum()

0

In [22]:
dfcopy['gender'].mode()
dfcopy['gender'].fillna('F', inplace=True)

Exercise 5: Dealing with duplicates
Use the .duplicated() method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:

Dropping all duplicate rows
Keeping only the first occurrence of each duplicated row
Keeping only the last occurrence of each duplicated row
Dropping duplicates based on a subset of columns
Dropping duplicates based on a specific column
Implement your chosen strategy using the drop_duplicates() function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using .duplicated().

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

Hint: after dropping duplicates, reset the index to ensure consistency.

In [24]:
#En primer lugar he revisado si hay algún asiento duplicado en general, aunque anteriormente ya elimine los asientos vacíos.
#Después compruebo si hay algún cliente con el mismo nombre para saber si hay duplicados de clientes. 
#Como no sale ningún resultado, doy por hecho de que ya no queda ningún duplicado después

dfcopy.duplicated().sum()
dfcopy[dfcopy['customer'].duplicated(keep=False)]

Empty DataFrame
Columns: [customer, state, gender, education, customer_lifetime_value, income, monthly_premium_auto, number_of_open_complaints, policy_type, vehicle_class, total_claim_amount]
Index: []

In [27]:
dfcopy.to_csv('lab-limpieza-fin.csv', index=False)